
html, body {
  padding:0;
  margin:0;
  font-family: 'Mochiy Pop P One', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size:40px;
  color: white;
  margin-left:auto;
  margin-right:auto;
  width:70%;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 13px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color:white;
}

li {
  float: right;
}

.emphasize {
  font-size: 15px;
}

.img {
  border-radius: 5px;
}

.text-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  text-align:center;
}

.hero {
  background-image: url("Img/Newheroimage.jpeg");
  background-size:cover;
  background-position:center;
  position:relative;
  height:100vh;
  width:100vw;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding: 8rem 5rem;
  text-align:center;
}

.fullsizecontainer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align:center;
  height: 100%;
}

.center {
  margin-top: 
}

.lightbackground {
  background-color: #f0f0f0;
}

.darkbackground {
  background-color: #334756;
  color:white;
}

.btn {
    display: inline-flex;
    padding: 15px 25px;
    text-align: center;
    margin: 5px 10px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    border:solid;
    border-width:2px;
    font-weight: 700;
    border-radius: 5px;
    background-color: #2C272E;
}

.btn:hover,
.btn:focus {
    background: #f0F0f0;
    border-color:#2C272E;
    border: solid;
    border-width:2px;
    color: #2C272E; 
}

.btnempty {
    display: inline-flex;
    margin:20px 20px;
    padding: 5px 10px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    border:solid;
    border-width:2px;
    font-weight: 700;
    border-radius: 5px;
    border-color: #f0F0f0;
}

.btnempty:hover,
.btnempty:focus {
    background: transparent;
    border-color:#f0F0f0;
    border: solid;
    border-width:2px;
    color: #2C272E;
  
}

.columns {
  display:flex;
  flex:1;
  flew-direction:flow;
  Align-items: center;
  display:flex;
}

.slideshow {
  max-width: 100%;
}

.logo {
  width:100px;
}

.leftside {
  text-align:center;
}

.rightside {
  margin-left:auto;
  margin-right:auto;
  Padding:40px 50px;
}

@media only screen and (max-width: 800px) {
  .columns {
    flex-direction:column;
  }
}

@media only screen and (min-width: 800px) {
  .leftside {
    max-width:50%;
  }
}

@media only screen and (min-width: 800px) {
  .secondlevelcontainer {
    max-width:50%;
    margin-left:auto;
    margin-right:auto;
  }

  /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  h1 {
    font-size: 60px;
    margin-top:30vh;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 50px;
  }
}